@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

:root {
  /* --font-base: "DM Sans", sans-serif; */
  /* --font-base: "Exo 2", sans-serif; */

  --font-base: "Wix Madefor Display", sans-serif;

  --primary-color: #f5e7c6;
  --secondary-color: #2E5077;
  --black-color: #611C35;
  --lightGray-color: #e4e4e4;
  --gray-color: #806d61;
  --brown-color: #46364a;
  --white-color: #fff;

  --linen-color: #faf3e1;
  --cotton-color: #f5e7c6;
  --orange-color: #ff6d1f;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-snap-type: y mandatory;
}
