@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #f5e7c6;
  --secondary-color: #ff6d1f;
  --black-color: #222222;
  --lightGray-color: #e4e4e4;
  --gray-color: #806D61;
  --brown-color: #46364a;
  --white-color: #fffcf2;



  --linen-color: #faf3e1;
  --cotton-color: #f5e7c6;
  --orange-color: #ff6d1f;
  --black-color: #222222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
